.dashboard-container {
  background-color: #FFFFFF;
  /* Light Gray */
  min-height: 100vh;
}

.header-title {
  color: #131416;
  /* Jet Black */
  font-size: 2.5rem;
  font-weight: bold;
}

.header-title h1 {
  color: #FFCD04;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
}

.custom-card {
  background-color: #DFDFDE !important;
  margin: 15px;
  color: #131416;
  /* Jet Black */
}

.custom-card-yellow {
  background-color: #FFCD04 !important;
  /* Bright Yellow */
  border: 2px solid #098442;
  /* Forest Green */
}

.custom-card-green {
  background-color: #195B2E;
  /* Dark Green */
  color: #FFFFFF;
  /* White text */
  border: 2px solid #FFCD04;
  /* Bright Yellow border */
}

.custom-card h5 {
  color: #131416;
  text-transform: capitalize !important;
  /* Forest Green for text */
}

.text-center {
  text-align: center;
  text-transform: capitalize !important;
}